<ion-grid fullscreen>
  <ion-row class="ion-justify-content-center">
    <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12" style="margin-top: 15px">
                  <span class="p-float-label">
                    <input type="text" pInputText disabled="true" [ngModel]="cantVentas" [style]="{'minWidth':'100%', 'width': '100%'}">
                    <label>Cantidad de ventas</label>
                  </span>
    </ion-col>
    <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12" style="margin-top: 15px">
                  <span class="p-float-label">
                    <input type="text" pInputText disabled="true" [ngModel]="cantProductos" [style]="{'minWidth':'100%', 'width': '100%'}">
                    <label>Cantidad de productos vendidos</label>
                  </span>
    </ion-col>
    <ion-col size-lg="4" size-md="4" size-sm="12" size-xs="12" style="margin-top: 15px">
                  <span class="p-float-label">
                    <input type="text" pInputText disabled="true" [ngModel]="total" [style]="{'minWidth':'100%', 'width': '100%'}">
                    <label>Total ganado</label>
                  </span>
    </ion-col>
  </ion-row>
</ion-grid>
